
* {
    margin: 0;
    padding: 0;
    }
/* header */
.header{
    background-color:  #FFFFFF;
    position: relative;
  
    
}

.container{
width: 1200px;
padding: 0 15px;
margin: 0 auto;

}
.logo{
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: #2196F3;
}
.navigation-logo-color {
color: #212121;
}
.navigation-list-link{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: #212121;
}

/* Display flax */
.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center ;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEEEEE;
   
}

.navigation-list{
    display: flex;
    margin-right: 320px;
    
}

.contact {
    display: flex;
}




.navigation-list li{
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus{
color: #2196F3;
}
.imel {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: #757575; 
margin-right: 50px;
}
.about-list{
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: -30px;
    margin-top: -30px; 
}
.about-list-item{
    justify-content:space-between;

    flex-basis: calc(100% / 4 -30px);
    margin-left: 30px;
    margin-top: 30px;

}

.tel-link:hover,
.tel-link:focus,
.imel link{
color: #2196F3;
}

.tel-link {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: #757575;    
}
/* <!---подвал-->
    <footer> */
.footer{
background-color:  #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}
.logo-color{
color:  #FFFFFF;
}
.adress{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1,714;
letter-spacing: 0.03em;
color: #FFFFFF;
padding-top: 20px;
padding-bottom: 9px;
}

.section-adress {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
padding-bottom: 9px;
}

/* основная часть главная */
.container-about{
    width: 1200px;
    height: 600px;
    padding: 0 15px;
    margin: 0 auto;
}

.about{
    height: 600px;
background-color: #2F303A;

}
.about-title{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.363;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 200px;
text-align: center;
padding-bottom: 30px;
}

.modal-btn{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px; 
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color:  #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin: 0 auto;
padding: 10px 32px;
margin-bottom: 200px;
border:none;
}
.about-box-list-item{
    margin-right: 8px;

}

.box-modal-btn:hover,
.box-modal-btn:focus{
color: #ffffff;
background-color: #2196F3;
}
.about-function{
background-color: #E5E5E5;
 
padding-top: 94px;
}
.about-hero{
    background-color: #E5E5E5;
    padding: 94px 0px 94px;
}
.title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
padding-bottom: 10px;
}



.social-links{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
       
}
.social-links-item{
    justify-content:space-between;
     

    flex-basis: calc(100% / 4 -30px);
    margin-left: 30px;
  
}

.hero-list-img{
     
}



.subtitle-light-theme{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.title-hero{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.666;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding-bottom: 50px;
}


.comand{
background-color: #F5F4FA;
padding: 94px 0px 94px;
}
.comand-social-links{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.title-hero{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.666;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.comand-title-hero{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.187;
/* text-align: center; */
letter-spacing: 0.03em;
color: #212121;
text-align:center;
padding-bottom: 10px;
padding-top: 30px;
}
.comand-light{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.187;
letter-spacing: 0.03em;
color: #757575;
text-align: center;
padding-bottom: 30px;
}
.comand-links-item{
    background: #FFFFFF;
    justify-content:space-between;
    flex-basis: calc(100% / 4 -30px);
    margin-left: 30px;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.title{
justify-content: space-evenly;
}

/* основная часть портфолио */
.box{
    padding-top: 94px;
}
.about-box{
background-attachment: #E5E5E5;
}
.about-box-list  {
    display: flex;
    justify-self: center;
    justify-content: center;   
    margin-bottom: 50px; 
}
.justify-content{
    padding-left: 8px;
}
.box-modal-btn{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
border-radius: 4px;
padding: 6px 22px;
border:none;
}

.border-title-hero{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
margin-bottom: 4px;
}
.border-light{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

.border{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;



}

/* Ul */
.border-social-links{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;
}

.border-links-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
.border-box{
    padding-bottom: 98px;
}
.current {
    color: #2196F3;
  }
